:table-caption!:
|===
|Name|Type|Description|Constraints|optional

{{#parameters}}
    |{{name}}
    |{{type}}
    |{{description}}
    |{{constraints}}
    |{{#optional}}true{{#defaults}} (기본값: {{defaults}}){{/defaults}}{{/optional}}
{{/parameters}}
|===
